html {
  padding: 20px;
  font-family: "Roboto";
  margin-bottom: 60px;
  flex: auto;
}
body {
  margin-top: 20px;
  background-color: rgb(251, 254, 224);
}
header {
  background-color: rgb(195, 236, 244);
  text-align: center;
  color: text;
  padding-bottom: 10px;
}
h4 {
  padding-bottom: 10px;
}
h5 {
  margin-top: 20px;
  margin-bottom: -10px;
}
p {
  font-size: 0.5;
}
li {
  list-style: none;
}
/* id CSS */
.searchCity {
  size: 186px 36px;
}
.forcast {
  display: flex;
  flex-direction: row space-between;
  align-items: space-between;
  margin-bottom: 60px;
}
.card {
  background-color: rgb(208, 242, 215);
}
/* class CSS */
#currentDay {
  margin-bottom: 10px;
}
#currentTime {
  margin-bottom: 10px;
  margin-top: -5px;
}
#searchBtn {
  padding: 6px 12px;
}
